.products-page{
  .container{
    width: 100%;
    height: 100%;
    position: relative;
    h1{
      color: #414141;
      font-weight: 900;
      font-size: 35px;
      text-transform: capitalize;
    }
    .wrapper{
      width: 100%;
      display: flex;
      justify-content: flex-start;
      flex-flow: wrap;
      gap: 30px;
      padding: 50px 0;
      @media screen and (max-width:1138px){
        justify-content: center;
      }
    }
    .more-data{
      padding: 12px 35px;
      border: none;
      outline: none;
      background-color: #ad0dad;
      color:#fff;
      font-weight: 800;
      font-size: 18px;
      display: block;
      margin:20px auto;
      text-transform: capitalize;
      border-radius: 6px;
      cursor: pointer;
    }
  }
}

